/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* the above is a default style reset*/
body{
    display: flex;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f0f0f0;
	--leftPanelWidth: 31rem;
	--rightPanelMargin: 3rem;
}

#leftPanel{
    display:flex;
    flex-direction: column;

}

#photoCredits{
	position: absolute;
	left: 8em;
	top: 45rem;
	font-size: 1rem;
	color:white;
}

.credits{
 color:white;
}

#pictureBackground{
	width: var(--leftPanelWidth);
}

#panelBanner{
	display:flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top: 10rem;
	background-color: rgb(0,0,0,0.5);
	height: 10rem;
	width: var(--leftPanelWidth);
}

@font-face {
	font-family: logo;
	src: url(./fonts/Norse-Bold.otf);
}
#fontBanner{
	color: white;
	font-family: logo;
	font-size: 10rem;
}

#rightPanel{
	display:flex;
	flex-direction: column;
}

header{
	font-size: 1.5rem;
	padding-left: var(--rightPanelMargin);
	margin-top: 7rem;
	margin-bottom: 5rem;
}

main{
	background-color: white;
	padding-left: var(--rightPanelMargin);
	padding-right: 19rem;
	box-shadow: 0rem 2rem 3rem -3rem #888;
	margin-bottom: 2rem;
}

h2{
	font-size: 1.8rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

form{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	height: 13rem;
	width: 39rem;	
}

input{
	border: solid 0.1rem #E5E7EB;
	margin-bottom: 1.5rem;
	border-radius: 0.3rem;
	height: 1.5rem;
	width: 17rem;
} 

input:invalid{
	border-color: red;
}

input:focus {
	border-color: #3246a8;
	outline: none;
	box-shadow: 0.1rem 0.1rem  0.2rem 0.1rem #dcdcdc;
}

footer{
	padding-left: var(--rightPanelMargin);
}

#submitButton{
	border: #596D48;
	border-radius: 0.3rem;
	background-color: #596D48;
	color: white;
	padding: 0.5rem 2rem 0.5rem 2rem; 
	margin-bottom: 2em;
}

#logIn{
	color:#596D48;
	text-decoration: none;
}

#passwordNotValid{
	color: red;
	position: absolute;
	top: 35.5rem;
}